
     <div class="doc-container">
        <div class="hero-image">
            <div class="hero-text">
                <div class="dashboard">
                    <h2 class="para">DASHBOARD</h2>
                    </div>
                      <table class="rwd-table">
                        <thead>
                            <tr>
                                <th>DOCUMENT NAME</th>
                                <th>DOCUMENT TYPE</th>
                                <th>DISCRPTION</th>
                            </tr>
                      
                        </thead>
                      
                        <tbody *ngFor="let file of doc | paginate: { itemsPerPage: 5, currentPage: p }" >
                      
                            <tr>
                                <td>{{file.userName}}</td>
                                <td>{{file.fileType}}</td>
                                <td>{{file.discrption}}</td>
                            </tr>
                         </tbody>   
                      </table>
                      <pagination-controls
                      (pageChange)="p = $event" 
                      class="float-right my-pagination">
                  </pagination-controls>
                           <button routerLink="/navbar" class="btn">BACK</button>
            </div>
          </div>
    </div>