<div class="feature">
    <header>
        <h1>
          Document management system
        </h1>
      
        <p>
            Learn about the key features of the document management system
        </p>
      </header>
      
      <main>
        <ul class="cards-container">
          <li class="cyan-feature-card" id="class">
            <p>
                Connect documents in one secure resource
            </p>
           <h1 class="head">SECURE AND SAFE</h1>
          </li>
      
          <li class="red-feature-card" id="class">
           
            <p>
                Organize information intuitively, by client, project, or legal matter
            </p>
            <h1 class="head">WELL ORGANIZED</h1>
          </li>
      
          <li class="orange-feature-card" id="class">
            
            <p>
                Find relevant information quickly and intuitively so you can stay on task
            </p>
            <h1 class="head">EASY TO ACCESS</h1>
          </li>
      
          <li class="blue-feature-card" id="class">
        
            <p>
                Eliminate data silos so information is accessible, searchable, and secure
            </p>
            <h1 class="head">EFFICIENT</h1>
          </li>
        </ul>
        <button class="btn1" routerLink="">Back</button>
      </main>
      
    
    </div>