<div class="header">
	<div class="flex">
	<img src="../assets/folder.png" alt="logo" width="40px" height="40px">
	<h1>DOC-KEY</h1>
	</div>
	<div class="button">
	<!-- <button (click)="changeView" routerLink="" class="btntop">Home</button>&nbsp; -->
	<a  routerLink="contactus" class="btntop">Contact us</a>&nbsp;
	<a  routerLink="keyfeatures" class="btntop">Key Features</a>&nbsp;
	<a  routerLink="login" class="btntop">Login</a>
	</div>
</div>

<router-outlet></router-outlet>
<lib-ng-toast></lib-ng-toast>
