<div class="container">
  <div class="left">
    <div class="animation a6"><i class="fa fa-user" aria-hidden="true"></i></div>
    <div class="header">
      <h2 class="animation a1">Register</h2>
    </div>

<div id="loginpage">
  <div id="content">
      <div class="text-center">
        <h6 class="mb-3" style="margin-left:75px">Please register here !!</h6>
        
      </div>
        <form>
          <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <small class="danger">{{msg}}</small>
            <div class="mb-3">
              <!-- <label for="name" class="form-label">Name</label> -->
              <input formControlName="fullName" placeholder="Enter your name" type="text" class="form-field animation a3" id="name" name="userName" [(ngModel)]="user.userName">
              <span class="text-danger" style="font-size:12px;" *ngIf="signUpForm.controls['fullName'].dirty && signUpForm.hasError('required','fullName')">*Username is required</span>
            </div>
            <div class="mb-3">
              <!-- <label for="email" class="form-label">Email address</label> -->
              <input formControlName="email" placeholder="Enter your email" type="email"class="form-field animation a3" id="email" aria-describedby="emailHelp"  name="emailId" [(ngModel)]="user.emailId">
              <span class="text-danger" style="font-size:12px;" *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">*Email Id is required</span>
            </div>
            <div class="mb-3">
              <!-- <label for="pwd" class="form-label">Password</label> -->
              <input formControlName="password" placeholder="Enter your password" type="password" class="form-field animation a4" id="pwd" name="password" [(ngModel)]="user.password">
              <span class="text-danger" style="font-size:12px;" *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">*Password is required</span>
            </div>
            <button class="button animation a6" type="submit"  [disabled]="!signUpForm.valid">Register</button>
            <p class="text-center" style="margin-top:10px;">Already registered?Click here to <a routerLink="/login">Login</a>.</p>
          </form>
        </form>
  </div>
</div> 
</div>
<div id="right"></div>
</div>